*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
:root{
    --title-color:#333;
    --body-color:#696969;
    --background-color:#fff;
    --foreground-color:#fff;
    --blend-mode:normal;
}
.dark-theme{
    --title-color:#fff;
    --body-color:#afafaf;
    --background-color:#181621;
    --foreground-color:#211f2a;
    --blend-mode:lighten;
}
body{
    background-color: var(--background-color);
    font-family: sans-serif;
    font-size: 1.6rem;
    color: var(--body-color);
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
}
.toggle-btn{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    border: 2px solid var(--body-color);
    display: flex;
    cursor: pointer;
    z-index: 9999;
}
.toggle-btn i{
    margin: auto;
    font-size: 2rem;
}
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.content{
    display: flex;
    background-color: var(--foreground-color);
    box-shadow: .5rem .5rem rgba(17, 228, 35, 0.575);
}
.content-image{
    flex: 1;
}
.content-image img{
    width: 500px;
    height: 600px; 
    object-fit: cover;
}
.content-text{
    flex: 1;
    padding: 5rem;
}
.title{
    font-family: fantasy;
    font-size: 5rem;
    color: var(--title-color);
}
.subtitle{
    font-size: 1.4rem;
   text-transform:uppercase;
   font-weight: 400;
   margin: .5rem 0 5rem;
}
.para:not(:last-child){
    margin-bottom: 1.5rem;
}
.cta{
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--body-color);
    padding: 1rem 2.5rem;
    margin-top: 2.5rem;
    background-color: rgba(17, 228, 35, 0.575);
    transition: .5s;
    color: white;
}
.cta:hover{
    background-color: rosybrown;

}
form{
    margin: 5px;
}
input{
    padding: 5px;
    margin: 5px;
    outline: none;
}
textarea{
    padding: 10px;
    outline: none;
}
button{
    padding: 5px;
    background-color: var(--body-color);
    outline: none;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:768px){
    body{
        /* display: none; */
    }
    section{
    height: 50vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: .1rem 0;
    }
    .toggle-btn{
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        /* border: 2px solid var(--body-color);
        display: flex;
        cursor: pointer;
        z-index: 9999; */
    }
    .toggle-btn i{
        margin: auto;
        font-size: 2rem;
    }
}